.header-bg {
	background-image: url(/images/aircraft.jpg);
	height: 100%;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;-
}

body, html {
  height: 100%;
  margin: 0;
}


.title {
	position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
}

.msw {
	margin-top: 0;
	font-family: 'Roboto Slab', serif;
	color: white;
	font-size: 80px;
	text-align: center;
	width: 100%;
	text-align: center;
}

.txt-rotate {
	font-family: 'Roboto Slab', serif;
	color: white;
	size: 40px;	
	text-align: center;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}