.header-bg {
	background-image: url(/images/aircraft.jpg);
	height: 100%;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;-
}

body, html {
  height: 100%;
  margin: 0;
}

.msw {
	margin-top: 0;
	font-family: 'Roboto Slab', serif;
	color: white;
	font-size: 80px;
	text-align: center;
	margin: auto 50% auto 50%;
}

.carousel {
	font-family: 'Roboto Slab', serif;
	color: white;
	size: 3em;	
	text-align: center;
}

