.header-bg {
	/*filter: blur(8px);
	-webkit-filter: blur(8px);*/
	 
	background-image: url(/images/aircraft.jpg);
	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

